@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon');
@import url('https://fonts.googleapis.com/css?family=Meddon|Metamorphous');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

// /////////////////////////////////////////////////////////////////
// Base
// /////////////////////////////////////////////////////////////////

  $teal:      #3DCAC2;
  $blue:      #1A688A;
  $pink:      #C0156B;
  $green:     #71A60F;
  $yellow:    #FFE35A;
  $darkgrey:  #373B3E;
  $grey:      #535556;
  $purple:    #9377A5;
  $darkpurple:#312B56;
  $tan:       #EAD4C0;
  $lighttan:  #ECDFCD;
  $midtan:    #DABDAB;
  $darktan:   #AA8677;
  $light:     #E0E6E2;

  body {
    margin: 0;
    padding: 0;
    font-family: 'IM Fell French Canon', serif;
  }

  a {
      text-decoration: none;
  }

  p {
    font-size: 16px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .main-header {
    background: url('./components/Home/headerback.png') no-repeat center;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-bottom: -40px;
    z-index: 5;
    li {
      list-style-type: none;
      display: inline-block;
      // background: $tan;
      // background: linear-gradient(180deg, rgba(234,212,191,1) 0%,rgba(234,212,191,0) 100%);
      padding: 0px 15px;
    }
    a {
      color: $light;
      padding: 0;
      &:hover {
        color: #fff;
      }
    }
  }

  .disabled-button {
    background: $grey;
    color: $darkgrey;
  }
  .button-spacer {
    height: 27px;
    width: 10px;
    margin: 5px;
  }
  button {
    margin: 5px auto;
    background: $teal;
    color: $light;
    border: 2px solid $purple;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'IM Fell French Canon', serif;
  }



// /////////////////////////////////////////////////////////////////
// Home
// /////////////////////////////////////////////////////////////////

  .home-page {
    text-align: center;
    background: $darkgrey;
    background: url('./components/Home/worlds.png') no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .home-logo {
    max-height: 45vh;
  }

  .home-container {
    position: relative;
    z-index: 2;
    position: absolute;
    top: 10vh;
    left: 25vw;
    right: 25vw;
    .home-links {
      button {
        background: url('./components/Home/bluebutton.png');
        border: none;
        width: 241px;
        height: 50px;
        color: white;
        padding: 10px 30px;
        font-family: 'IM Fell French Canon', serif;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.5);
        }
      }
    }
  }

  .clouds-wrapper {
    overflow: hidden;
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    z-index: 1;
    .cloud1 {
      position: absolute;
      left: 0;
      top: 50px;
      animation-name: cloud;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
    .cloud2 {
      position: absolute;
      right: 0;
      top: 0;
      animation-name: cloud2;
      animation-duration: 50s;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  }

  @keyframes cloud{
    0%{
      opacity: 0;
      transform: translate3d(-100vw,-500px,  0px);
    }
    100%{
      opacity: 1;
      transform: translate3d(100vw,100px,  0px);    
    }
  }
  @keyframes cloud2{
    0%{
      opacity: 0;
      transform: translate3d(100vw,0px,  0px);
    }
    60%{
      opacity: 0.5;
      transform: translate3d(-50vw,50px,  0px);    
    }
    100%{
      opacity: 0;
      transform: translate3d(-75vw,20px,  0px);    
    }
  }




// /////////////////////////////////////////////////////////////////
// Story
// /////////////////////////////////////////////////////////////////

  .story-intro {
    width: 100vw;
    background: #020806;
    color: white;
    text-align: center;
  }

  .story-intro-hero {
    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    background: url('./components/Story/otherworldsheader.jpg') no-repeat;  
    background-position: bottom;
    height: 50vh;
    padding-top: 10vh;  
  }

  .otherworldstitle {
    width: 50vw;
    // left: 0;
    margin-left: 43vw;
    .there-these1 {
      font-family: 'Meddon', cursive;
      margin-left: -20vw;
      margin-bottom: -4vh;
    }
    .there-these2 {
      font-family: 'Meddon', cursive;
      margin-right: -23vw;
      margin-top: -4vh;
    }

    .other-worlds{
      font-family: 'Metamorphous', cursive;
    }
  }

  .story-start {
    padding-bottom: 4vh;
  }

  .story-body, .story-rules {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  .storyMap {
    background: #e2e2e2;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
  }

// /////////////////////////////////////////////////////////////////
// Team
// /////////////////////////////////////////////////////////////////

  .not-logged {
      height: 100vh;
    }
  .edit-team-container {
    text-align: center;
    background: $purple;
    padding: 30px;
    color: white;
    background: url('./components/Characters/CharacterList/background.png') no-repeat;
    background-size: cover;
    .member {
      border-radius: 10px;
      display: inline-block;
      vertical-align: top;
      margin: 5px -7px;
      img {
        width: 160px;
        margin: 0 20px;
      }
      h4 {
        font-family: 'Arima Madurai', sans-serif;
        color: white;
        font-size: 14px;
        z-index: 2;
        position: relative;
        margin: -34px auto 0 auto;
        padding: 5px 0;
        width: 160px;
        font-weight: lighter;
      }
      .level-element {
        margin-bottom: -30px;
        position: relative;
        z-index: 2;
      }
      .level {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background: $darkpurple;
        color: white;
        position: relative;
        z-index: 2;
        display: inline-block;
        vertical-align: bottom;
        left: -73px;
        p{
          padding: 0;
          margin: 0;
          line-height: 30px;
        }
      }
      img.element-icon {
        width: 30px;
        height: 30px;
        vertical-align: bottom;
        border-radius: 0;
        border: none;
        margin-right: -74px;
      }
    }
  }

  .not-logged-edit {
    height: 100vh;
  }

// /////////////////////////////////////////////////////////////////
// Levels
// /////////////////////////////////////////////////////////////////

  .level-one {
    background: url('./components/Story/Levels/levelgravityfalls.png') no-repeat;
    background-position: center;
    background-size: cover;
  }
  .attack-text-box {
    position: fixed;
    bottom: 3vh;
    height: 5vh;
    line-height: 5vh;
    z-index: 5;
    width: 100vw;
    background: rgba(255,255,255,0.5);
    color: $darkpurple;
    margin: 0;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 25%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
    #attack-text {
      margin: 0;
    }
  }
  .level-current-team {
    text-align: center;
    padding: 5vh 1vw;
    color: white;
    height: 90vh;
    overflow: hidden;
    width: 98vw;
    .current-team-container {
      width: 56vw;
      padding: 0;
      display: inline-block;
      vertical-align: top;
    }
    h1 {
      margin: 2vh auto 1vh auto;
    }
    .selected-char img {
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      // background: red;
      background: radial-gradient(ellipse at center, rgba(169,3,41,1) 0%,rgba(151,95,108,0) 53%,rgba(142,142,142,0) 80%,rgba(109,0,25,0) 100%); 
    }
    .member0 .char-sprite {
      margin-left: -5vw;
    }
    .member1 .char-sprite {
      margin-left: 5vw;
      margin-top: -3vh;
    }
    .member2 .char-sprite{
      margin-left: 15vw;
      margin-top: -6vh;
    }
    .member3 .char-sprite{
      margin-left: 5vw;
      margin-top: -9vh;
    }
    .member4 .char-sprite{
      margin-left: -5vw;
      margin-top: -12vh;
    }
    .member {
      vertical-align: bottom;
      text-align: left;
      height: 14vh;
      .char-data-attack {
        vertical-align: top;
        width: 15vw;
        display: inline-block;
        button {
          margin: 4px 0;
          display: block;
          width: 114px;
          border: 0;
          background: $blue;
        }
      }
      .char-sprite {
        height: 25vh;
      }
      h4 {
        background: $purple;
        background: rgba(49,43,86,0.25);
        background: radial-gradient(ellipse at center, rgba(49,43,86,0.25) 0%,rgba(49,43,86,0.75) 100%);
        font-size: 15px;
        padding: 6px 8px 5px 5px;
        line-height: 15px;
        display: inline-block;
        margin: 0;
      }
      .level {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background: $darkpurple;
        color: white;
        position: relative;
        z-index: 2;
        display: inline-block;
        margin: 0px 7px;
        vertical-align: bottom;
        p{
          padding: 0;
          margin: 0;
          line-height: 30px;
        }
      }
      .element-icon {
        width: 15px;
        height: 15px;
        margin: 4px 0 0 5px;
      }
    }
  }

  .bad-team {
    text-align: center;
    color: white;
    height: 100vh;
    width: 39vw;
    display: inline-block;
    vertical-align: top;
    .selected-char {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .attackme {
      display: block;
    }
    .name-level-element {
      display: inline-block;
      vertical-align: top;
      width: 13vw;
    }
    .member {
      vertical-align: bottom;
      text-align: right;
      height: 28vh;
      .char-data-attack {
        vertical-align: top;
        width: 15vw;
        display: inline-block;
      }
      .char-sprite {
        height: 25vh;
      }
      h4 {
        background: $purple;
        background: rgba(49,43,86,0.25);
        background: radial-gradient(ellipse at center, rgba(49,43,86,0.25) 0%,rgba(49,43,86,0.75) 100%);
        font-size: 15px;
        padding: 6px 5px 5px 8px;
        line-height: 15px;
        display: inline-block;
        margin: 0;
      }
      .level {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background: $darkpurple;
        color: white;
        position: relative;
        z-index: 2;
        display: inline-block;
        margin: 0px 7px;
        vertical-align: bottom;
        p{
          padding: 0;
          margin: 0;
          line-height: 30px;
        }
      }
      .element-icon {
        width: 15px;
        height: 15px;
        margin: 4px 5px 0 0;
      }
    }
  }

  .cooldown-countdown {
    display: none;
    padding: 0;
    margin: 0;
  }
  .on-cooldown{
    border: 10px solid red;
    padding: 0;
    margin: 0;
    .cooldown-countdown {
      display: inline;
    }
  }

  .health-bar-myteam,
  .health-bar-badteam {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto 3vh auto;
      .outer-health-bar {
        background: url('./components/Story/Levels/hpbacker.png') repeat;
        background-size: contain;
        width: 100%;
        height: 22px;
        padding-top: 2px;
      }
      .inner-health-bar {
        background: #71A60F;
        background: url('./components/Story/Levels/hpfront.png') repeat;
        background-size: contain;
        height: 20px;
      }
  }

  .you-win {
    background: url('./components/Story/Levels/win.png') no-repeat;
    height: 41vw;
    width: 52vw;
    position: absolute;
    top: 5vh;
    left: 25vw;
    background-size: contain;
    padding-top: 33vh;
    color: black;
    z-index: 10;
  }
  .you-lose {
    background: url('./components/Story/Levels/lose.png') no-repeat;
    height: 41vw;
    width: 52vw;
    position: absolute;
    top: 5vh;
    left: 25vw;
    background-size: contain;
    padding-top: 33vh;
    color: black;
    z-index: 10;
  }

// /////////////////////////////////////////////////////////////////
// Character
// /////////////////////////////////////////////////////////////////

  .all-characters-container {
    margin-bottom: 30px;
    width: 94vw;
    text-align: left;
    .char-box {
      display: inline-block;
      background: $lighttan;
      padding: 6px;
      width: 22.25vw;
      height: 138px;
      margin: 0.5vw;
      box-sizing: border-box;
      border: 2px solid $darktan;
      button {
        margin: 10px 0 0 10px;
        display: inline-block;
      }
      p {
        margin: 10px 0 0 10px;
        display: inline-block;
        color: $darkpurple;
        font-size: 19px;
        vertical-align: top;
        width: 100%;
      }
      img {
        width: 70px;
        display: inline-block;
      }
      .mini-info{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 74px);
      }
      .element-icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin: 0 5px 0 0;
      }
    }
  }

  .character-show-container{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 100vh;
    width: 100vw;
    background: #222;
    color: white;
    img {
      width: 50%;
      vertical-align: top;
      max-width: 500px;
    }
    .character-show-text{
      display: inline-block;
      margin-top: 20px;
      img {
        width: 50px;
      }
    }
    a {
      margin-top: 30px;
      &:before {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 8px 5px 0;
        border-color: transparent $green transparent transparent;  
        display: inline-block;
        margin-right: 5px;
      }
    }
    .blue{
      color: $teal;
    }
    .green {
      color: $green;
    }
    .yellow {
      color: $yellow;
    }
    .red {
      color: $pink;
    }
    .purple, .moon {
      color: $purple;
    }
  }